
h1{
  color: palevioletred;
  margin-left: 20px;
}
div{
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;

}


label{
  margin-right: 10px;
  text-align: right;
  color: palevioletred;
}

button{
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}